<!doctype html>
<html lang="en" xmlns:hx-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PinguGpt Noot Noot!</title>

    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen bg-gray-100">
<div class="flex h-full">
    <!-- sidebar, recent messages -->
    <section class="w-64 bg-gray-200 p-4">
        <div class="flex flex-col space-y-4">
            <div id="recent-message-list" class="font-bold text-lg">Recent</div>
        </div>
    </section>

    <!-- main content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div id="response-container" class="flex-1 mb-4 p-4 h-full overflow-auto">
        </div>
        <div class="">
            <form id="chatForm"
                  class="w-full"
                  hx-post="/api/chat"
                  hx-swap="beforeend"
                  hx-target="#response-container"
                  hx-on::after-request="initializeSSE(event)"
                  hx-on::before-request="this.querySelector('#message').value = ''">
                <input type="hidden" id="chatId" name="chatId">
                <div class="flex items-center bg-gray-200 rounded-full p-2 shadow-md">
                    <input id="message" name="message" class="bg-gray-200 outline-none text-gray-700 rounded-full py-2 px-4 w-full" type="text" placeholder="Noot noot!">
                    <button type="submit" class="bg-gray-300 hover:bg-gray-400 text-gray-600 rounded-full p-2 ml-2">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </main>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        let chatId = localStorage.getItem('chatId');
        if (!chatId) {
            chatId = /*[[${chatId}]]*/ 'defaultChatId';
            localStorage.setItem('chatId', chatId);
        }
        document.getElementById('chatId').value = chatId;
    });

    function initializeSSE(event) {
        const message = event.detail.requestConfig.parameters.message;
        const chatId = event.detail.requestConfig.parameters.chatId;
        const responseContainer = document.querySelector('#response-container');
        const newResponseElement = responseContainer.lastElementChild;
        const responseParagraph = newResponseElement.querySelector('p');

        const eventSource = new EventSource(`/api/stream?message=${encodeURIComponent(message)}&chatId=${encodeURIComponent(chatId)}`);

        eventSource.onmessage = function(event) {
            responseParagraph.textContent += event.data;
            responseContainer.scrollTop = responseContainer.scrollHeight;
        };

        eventSource.onerror = function(error) {
            console.error('EventSource failed:', error);
            eventSource.close();
        };

        eventSource.onopen = function() {
            responseParagraph.textContent = '';
        };
    }
</script>

</body>
</html>